<a href="https://colab.research.google.com/github/Sarowal-1734/AI_Lab-Python-/blob/main/Lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Variables in Pythin

In [17]:
n=54
type(n)

int

In [23]:
#list
l = [4, 5, "Sarowal", 8]
print(l)
print(l[3])

[4, 5, 'Sarowal', 8]
8

In [26]:
#dictionary
d = {"Rahim" : 500, "Karim" : 200}
print(d)

{'Rahim': 500, 'Karim': 200}

In [31]:
name = "Rahim"
tk = 1000
print("%s has %s tk." %(name, tk))

Rahim has 1000 tk.

In [43]:
n = int(input("Enter a number: "))
if n==10:
  print("The value of 10")
elif n>0 and n<999:
  print("The value is between 1000")
else:
  print("Anythings")

Enter a number: 999
Anythings

In [44]:
for x in l:
  print(x)

4
5
Sarowal
8

In [49]:
count = 6
while count <=10:
  print(count)
  count+=1

6
7
8
9
10
This is my method.
Thank you.

In [48]:
def myMethod():
  print("This is my method.")
  print("Thank you.")

myMethod()

This is my method.
Thank you.

In [72]:
def sum(x, y):
  z = x+y
  return z

In [73]:
sum(33, 5)

38

In [56]:
name = "Rahim"
age = 24
print("My name is:", name, "and My age is:", age)

My name is: Rahim and My age is: 24

In [60]:
numbers = [3, 6, 8, 7, 10]
numbers.pop()
for x in numbers:
  print(x)

3
6
8
7

In [61]:
numbers = [3, 6, 8, 7, 10]
numbers.remove(6)
for x in numbers:
  print(x)

3
8
7
10

In [71]:
def print_sq_value(numbers):
  for x in numbers:
    if x%2 == 1:
      sq = x*x
      print(sq)

numbers = [1, 2, 3, 4, 5]
print_sq_value(numbers)

1
9
25